#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  text-align: center;
}

.mainwindow {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.mainbody {
  display: flex;
  align-content: center;
  height: 100%;
  width: 100;
}

@media (prefers-color-scheme: dark) {
  .mainbody {
    background-color: #222222;
  }
  .root {
    filter: invert();
    --h5w-btnRaised--shadowColor: #f5f5f5;
    --h5w-btnRaised-hover--shadowColor: #fff;
    --h5w-domainSlider-track--shadowColor: #f5f5f5;
    --h5w-domainSlider-dataTrack--shadowColor: #fff;

    --h5w-line--color: deepskyblue;
    --h5w-custom--line-colorAux: orange, lightgreen, red, violet, gold;
  }

  canvas {
    filter: invert();
  }
}
*/ .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
